## 4.Datastructures in Python
 1. List
 2. set
 3. Tuple
 4. Dist

## 1. List

- 1 Dimensional
- Heterogenous
- Mutable/Changeable
- Allows duplicate elements
- Indexable and Sliceable

In [1]:
cart_1 = []

In [5]:
type(cart_1)

list

In [1]:
students = ['Manoj', 'Meghan', 'Avinash', 'Vineeth']

In [2]:
type(students)

list

In [3]:
students = ['Manoj','Shashi','Meghan','chandru','Meghan','Avinash','Avinash']

In [4]:
students

['Manoj', 'Shashi', 'Meghan', 'chandru', 'Meghan', 'Avinash', 'Avinash']

Inference :

- see list allows duplicate values.

In [5]:
students[2] = 'Likith'

Inference:
- List is Indexable.

In [6]:
students

['Manoj', 'Shashi', 'Likith', 'chandru', 'Meghan', 'Avinash', 'Avinash']

In [7]:
students[3:5]

['chandru', 'Meghan']

Inference:
- list is sliceable

In [8]:
students.append('Appu')

In [9]:
students

['Manoj',
 'Shashi',
 'Likith',
 'chandru',
 'Meghan',
 'Avinash',
 'Avinash',
 'Appu']

## 2. Set

- 1 Dimensional
- Heterogenous
- It is mutable/Changeable
- Not allows duplicate values
- And not indexable and sliceable

In [10]:
student2 = {'Arthi','seetha','rama','hanumantha','lakshmana'}

In [11]:
student2

{'Arthi', 'hanumantha', 'lakshmana', 'rama', 'seetha'}

In [12]:
student2[3]

TypeError: 'set' object is not subscriptable

In [13]:
student2[2:5]

TypeError: 'set' object is not subscriptable

In [14]:
type(student2)

set

In [15]:
student2.add('Vishnuparamathma')

In [16]:
student2

{'Arthi', 'Vishnuparamathma', 'hanumantha', 'lakshmana', 'rama', 'seetha'}

In [17]:
student2.clear()

In [18]:
student2

set()

## 3. Tuple
- 1 Dimensional
- Heterogenous
- Allows duplicate elements
- Not mutable/Changeable
- Indexable and Sliceable

In [19]:
students3 = ()

In [21]:
type(students3)

tuple

In [24]:
students3 = ('Gouvrav','Nikil','Sunil','Shreshta','jadhav')
students3

('Gouvrav', 'Nikil', 'Sunil', 'Shreshta', 'jadhav')

In [23]:
students3

('Gouvrav', 'Nikil', 'Sunil', 'Shreshta', 'jadhav')

In [28]:
students4 = ('shivu','likit','shashi','manthu','padya','likit')

In [29]:
students4

('shivu', 'likit', 'shashi', 'manthu', 'padya', 'likit')

In [30]:
students4[2]

'shashi'

In [31]:
students4[5]

'likit'

In [32]:
students4[2:5]

('shashi', 'manthu', 'padya')

In [33]:
students4[2] = 'sundar'

TypeError: 'tuple' object does not support item assignment

## 4. Dictionary
We call it as Key:Value pair

- 2D Dimension
- Heterogenous
- Not indexable and not sliceable
- Allows duplicate values

In [36]:
student5 = {}

In [37]:
type(student5)

dict

In [38]:
student5 = {'Abhi','Manoj','jeevu', 'Manoj'}

In [39]:
student5[1]

TypeError: 'set' object is not subscriptable

In [40]:
student5[:4]

TypeError: 'set' object is not subscriptable

In [41]:
student5.add('lavanya')

In [42]:
student5

{'Abhi', 'Manoj', 'jeevu', 'lavanya'}

In [43]:
items = {'chicken':2,
        'ghee':3,
        'coffe':1}
items

{'chicken': 2, 'ghee': 3, 'coffe': 1}

In [49]:
learner_details = {'fname' :'Lavanya',
                   'lname' :'Karja',
                   'age'   : 27,
                   'weight' : 27
                  }
learner_details

{'fname': 'Lavanya', 'lname': 'Karja', 'age': 27, 'weight': 27}

In [50]:
learner_details = {'fname' :['Lavanya','Gokul','Mariya'],
                    'lname':['Karja','Raj','Sherly'],
                    'age'  :[27,26,24]
                  }
learner_details

{'fname': ['Lavanya', 'Gokul', 'Mariya'],
 'lname': ['Karja', 'Raj', 'Sherly'],
 'age': [27, 26, 24]}

In [45]:
import pandas as pd

In [51]:
pd.DataFrame(data=learner_details)

     fname   lname  age
0  Lavanya   Karja   27
1    Gokul     Raj   26
2   Mariya  Sherly   24

                        ******************THE END**********************